@page "/"

@inject IStringLocalizer<Home> HLocalizer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<style>
    #active-home {
        color: #3066BE !important;
    }
    #active-home img {
        filter: invert(34%) sepia(23%) saturate(4001%) hue-rotate(198deg) brightness(88%) contrast(84%);
    }

    #top-active-home {
        background: #3066BE;
    }
    #top-active-home a {
        color: white;
    }

    .brand-search-box {
        padding: 0;
    }

    .brand-search-box select.form-select {
        color: #A0A0A0;
        -webkit-appearance: none;
        -webkit-user-select: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
        border: none;
        outline: none;
        padding-left: 10px;
        width: 100%;
        height: 36px;

        text-align: start;
        line-height: 25px;
        background-color: #E3F2FD;

        background-image: url("icons/arrow_forward.svg");
        background-position: right center; /*Positioning*/
        background-repeat: no-repeat; 
        background-size: 20px 20px, 20px 20px, 2.5em 2.5em;
    }

    .brand-search-box .select-items div, .select-selected {

    }

    .custom-input {
        background-color: #E3F2FD;
        border-radius: 5px; 
        padding: 6px; 
        border: none; 
        outline: none;
        color: #A0A0A0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none; /* Скрытие стрелок в Chrome и Safari */
        margin: 0; /* Не показывать никакого отступа */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Отображение стандартного текстового поля в Firefox */
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url("icons/calendar_icon.svg") no-repeat;
        width: 20px;
        height: 20px;
        border-width: thin;
    }

    .filter-button {
        width: 198px;
        height: 40px;
        background: #3066BE;
        color: white;
    }

    .search-button {
        width: 198px;
        height: 40px;
        background: #FF7F51;
        color: white;
    }

    .filter-button:hover {
        color: white;
    }
    .search-button:hover {
        color: white;
    }

    
</style>

<span id="topAnchor"></span>
<div class="container mobile-search mb-3 justify-content-center p-0 ">
    <input @bind="_startPrice" class="custom-input form-control" type="number"
           placeholder="Start from" />
</div>


<div class="container desktop-search justify-content-center">
    <h2 class="text-center" style="font-size: 24px; font-weight: 700; color: #3066BE" >@_filterText</h2>

    <div class="row">
        <div class="col-6">
            <span class="search-text-title">@HLocalizer["Brand"]</span>
        </div>

        <div class="col-6">
            <span class="search-text-title">@HLocalizer["Model"]</span>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <div class="brand-search-box">
                <select class="form-select mb-2 selectpicker" value="@_selectedBrand" @onchange="OnBrandChanged">
                    
                    @if (_brands.Count > 0)
                    {
                        foreach (var item in _brands)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
               
            </div>
        </div>

        <div class="col-6">
            <div class="brand-search-box">
                <select class="form-select mb-2 selectpicker" value="@_selectedModel" >
                    @if (_models.Count > 0)
                    {
                        for (int i = 0; i < _models.Count; i++)
                        {
                            <option value="@_models[i]">@_models[i]</option>
                        }
                    }
                </select>

            </div>
        </div>

        
    </div>

    <div class="row">
        <div class="col-6">
            <span class="search-text-title">@HLocalizer["Price"]</span>
        </div>
        <div class="col-6">
            <span class="search-text-title">@HLocalizer["Date"]</span>
        </div>


    </div>

    <div class="row">
        <div class="col-3">
            <div class="brand-search-box">
                <input @bind="_startPrice" class="custom-input form-control" type="number"
                    placeholder="Start from"/>


            </div>
        </div>
        <div class="col-3">
            <div class="brand-search-box">
                <input @bind="_tillPrice" class="custom-input form-control" type="number" placeholder="Till"/>

            </div>
        </div>
        <div class="col-3">
            <div class="brand-search-box">
                <input class="custom-input form-control" type="date" @bind="_dateFrom"/>


            </div>
        </div>
        <div class="col-3">
            <div class="brand-search-box">
                <input class="custom-input form-control" type="date" @bind="_dateTo"/>

            </div>
        </div>


    </div>

    @if (!_isShortFilter)
    {
        <div class="row mt-2">
            <div class="col-3">
                <span class="search-text-title">Color</span>

            </div>
            <div class="col-3">
                <span class="search-text-title">Transmission</span>


            </div>
            <div class="col-3">
                <span class="search-text-title">Mileage</span>


            </div>
            <div class="col-3">
                <span class="search-text-title">Engine</span>


            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input class="custom-input form-control" placeholder="Color" />
            </div>
            <div class="col-3">
                <input class="custom-input form-control" placeholder="Transmission" />

            </div>
            <div class="col-3">
                <input class="custom-input form-control" placeholder="Mileage" />

            </div>
            <div class="col-3">
                <input class="custom-input form-control" placeholder="Engin" />

            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <span class="search-text-title">Body type</span>
            </div>

            <div class="col-6">
                <span class="search-text-title">Seats</span>
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <div class="brand-search-box">
                    <select class="form-select mb-2 selectpicker" value="@_selectedBrand" @onchange="OnBrandChanged">

                        @if (_brands.Count > 0)
                        {
                            foreach (var item in _brands)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="col-6">
                <div class="brand-search-box">
                    <select class="form-select mb-2 selectpicker" value="@_selectedModel">
                        @if (_models.Count > 0)
                        {
                            for (int i = 0; i < _models.Count; i++)
                            {
                                <option value="@_models[i]">@_models[i]</option>
                            }
                        }
                    </select>

                </div>
            </div>


        </div>
    }

    <div class="row mt-3">
        <div class="col-3">
        </div>
        <div class="col-6 text-center">
            <button class="btn filter-button m-1" @onclick="HandleFilter">@_filterBtnText</button>
            <button class="btn search-button m-1">@HLocalizer["Search"]</button>

        </div>
        <div class="col-3">
        </div>
    </div>

    <div class="text-center container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-12">
                <input type="button" class="btn" id="prev" value="@HLocalizer["Previous"]" @onclick="() => HandlePageNumber(_currentPage - 1)" />

                @for (int i = 0; i <= _pageCount; i++)
                {
                    int j = i;
                    if (i > 0)
                    {
                        if (i == _currentPage)
                        {
                            <span style="color: #3066BE; font-weight: bold; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                        }
                        else if (i == _currentPage + 1)
                        {
                            <span style="color: #3066BE; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                        }
                        else if (i == _currentPage - 1)
                        {
                            <span style="color: #3066BE; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                        }
                    }

                }


                <input type="button" class="btn" id="nex" value="@HLocalizer["Next"]" @onclick="() => HandlePageNumber(_currentPage + 1)" />
            </div>
        </div>

    </div>
</div> 

<div class="container mt-2">
    <div class="row text-center justify-content-center">
        @if (Cars.Count > 0)
        {
            @for(int i = 0; i < Cars.Count; i++)
            {
                
                <CarItemCard CarItem="Cars[i]"/>
               
            }
        }
    </div>
</div>



<div class="text-center container " style="margin-bottom: 55px;">
    <div class="row">
        <div class="col-12">
            <input type="button" class="btn" id="prev" value="@HLocalizer["Previous"]" @onclick="() => HandlePageNumber(_currentPage - 1)" />

            @for (int i = 0; i <= _pageCount; i++)
            {
                int j = i;
                if (i > 0 )
                {
                    if (i == _currentPage)
                    {
                        <span style="color: #3066BE; font-weight: bold; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                    }
                    else if (i == _currentPage + 1)
                    {
                        <span style="color: #3066BE; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                    }
                    else if (i == _currentPage - 1)
                    {
                        <span style="color: #3066BE; cursor: pointer;" class="px-2" @onclick="() => HandlePageNumber(j)">@i</span>

                    }
                }

            }


            <input type="button" class="btn" id="nex" value="@HLocalizer["Next"]" @onclick="() => HandlePageNumber(_currentPage + 1)" />
        </div>
    </div>

</div>


@code {
    private string _filterText = "";
    private string _filterBtnText = "";
    private bool _isShortFilter = true;
    private string _selectedBrand = "";
    private string _selectedModel = "";
    private bool _isModelsLoaded = false;
    private List<string> _brands = new List<string>();
    private double? _startPrice;
    private double? _tillPrice;
    private DateTime? _dateFrom;
    private DateTime? _dateTo;
    private int _currentPage = 1;
    private List<Car> Cars = new List<Car>();
    private int _totalCarsCount = 0;
    private int _pageCount;

    private List<string> _models = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _filterText = _isShortFilter ? HLocalizer["ShortFilter"] : HLocalizer["FullFilter"];
        _brands = GenerateBrands();
        _selectedBrand = _brands[0];
        _filterBtnText = _isShortFilter ? HLocalizer["FullFilter"] : HLocalizer["ShortFilter"];

        await Task.Delay(1000);


        await LoadCars();
    }

    protected override bool ShouldRender()
    {
        return base.ShouldRender();
    }

    private List<string> GenerateBrands()
    {
        return new List<string>()
        {
            "KIA",
            "Toyota",
            "Hyunday",
            "Lexus"
        };

    }

    private void OnBrandChanged(ChangeEventArgs e)
    {
        try
        {
            _selectedBrand = e.Value.ToString();
            _models = new List<string>
            {
                "Morning",
                "K5",
                "K7",
                "Mohave",
                "K9",
                "Optimag"
            };
            _selectedModel = _models[0];
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
            Console.WriteLine(ex.Message);
        }
    }

    private void CountClick()
    {
        var c = Convert.ToDateTime(_dateFrom).ToString("ddMMyyyy");
        var k = Convert.ToDateTime(_dateTo).ToString("ddMMyyyy");
    }

    private void HandleFilter()
    {
        _isShortFilter = !_isShortFilter;
        _filterText = _isShortFilter ? HLocalizer["ShortFilter"] : HLocalizer["FullFilter"];
        _filterBtnText = _isShortFilter ? HLocalizer["FullFilter"] : HLocalizer["ShortFilter"];

    }

    private async Task LoadCars()
    {
        _totalCarsCount = 500;
        _pageCount = _totalCarsCount / ProjectConstants.PAGE_SIZE;

        for (int i = 0; i < ProjectConstants.PAGE_SIZE; i++)
        {
            if (i % 2 == 0)
            {
                Cars.Add(new Car
                    {
                        CarId = i,
                        Color = "#00cc54",
                        Title = "Toyota Rav4",
                        YearOfIssue = 2000 + i,
                        SubTitle = "SUV 5 Doors",
                        Volume = (double)i,
                        Mileage = i,
                        Location = "Bishkek",
                        Liked = true,
                        Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                        Price = i * ProjectConstants.PAGE_SIZE
                    });
            }
            else
            {
                Cars.Add(new Car
                    {
                        CarId = i,
                        Color = "#00cc54",
                        Title = "Toyota Rav4",
                        YearOfIssue = 2000 + i,
                        SubTitle = "Suv 5 Doors",
                        Volume = (double)i,
                        Mileage = i,
                        Location = "Bishkek",
                        Liked = false,
                        Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                        Price = i * ProjectConstants.PAGE_SIZE

                    });
            }

        }
    }

    private async Task NextPage()
    {
        _currentPage++;
    }
    private async Task PreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;

        }

        await HandlePageNumber(_currentPage);
    }

    private async Task HandlePageNumber(int pageNumber)
    {
        if (pageNumber <= 0 || pageNumber > _pageCount)
            return;
        Cars.Clear();
        _currentPage = pageNumber;
        if (pageNumber > 1)
        {
            int countToSkip = pageNumber - 1;
            countToSkip = ProjectConstants.PAGE_SIZE * countToSkip;
            var currentCount = ProjectConstants.PAGE_SIZE * pageNumber;
            for (int i = countToSkip; i < currentCount; i++)
            {
                if (i % 2 == 0)
                {
                    Cars.Add(new Car
                    {
                        CarId = i,
                        Color = "#00cc54",
                        Title = "Toyota Rav4",
                        YearOfIssue = 2000 + i,
                        SubTitle = "SUV 5 Doors",
                        Volume = (double)i,
                        Mileage = i,
                        Location = "Bishkek",
                        Liked = true,
                        Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                        Price = i * countToSkip
                    });
                }
                else
                {
                    Cars.Add(new Car
                    {
                        CarId = i,
                        Color = "#00cc54",
                        Title = "Toyota Rav4",
                        YearOfIssue = 2000 + i,
                        SubTitle = "Suv 5 Doors",
                        Volume = (double)i,
                        Mileage = i,
                        Location = "Bishkek",
                        Liked = false,
                        Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                        Price = i * countToSkip

                    });
                }

            }
        }
        else if (pageNumber == 1)
        {
            int countToSkip = pageNumber;
            countToSkip = ProjectConstants.PAGE_SIZE * countToSkip;
            var currentCount = ProjectConstants.PAGE_SIZE * pageNumber;
            for (int i = 0; i < currentCount; i++)
            {
                if (i % 2 == 0)
                {
                    Cars.Add(new Car
                        {
                            CarId = i,
                            Color = "#00cc54",
                            Title = "Toyota Rav4",
                            YearOfIssue = 2000 + i,
                            SubTitle = "SUV 5 Doors",
                            Volume = (double)i,
                            Mileage = i,
                            Location = "Bishkek",
                            Liked = true,
                            Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                            Price = i * countToSkip
                        });
                }
                else
                {
                    Cars.Add(new Car
                        {
                            CarId = i,
                            Color = "#00cc54",
                            Title = "Toyota Rav4",
                            YearOfIssue = 2000 + i,
                            SubTitle = "Suv 5 Doors",
                            Volume = (double)i,
                            Mileage = i,
                            Location = "Bishkek",
                            Liked = false,
                            Images = new List<string>()
                        {
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                            $"https://picsum.photos/id/{i}/200/300",
                        },
                            Price = i * countToSkip

                        });
                }

            }
        }

        await JS.InvokeVoidAsync("scrollToTop");
    }
}
