<style>
    .car-item-cart {
        height: 160px;
        background: #E3F2FD;
        border-radius: 5px;
    }

    .car-color-box {
        height: 16px;
        width: 16px;
        border-radius: 2px;
        margin-left: 8px;
        margin-top: 8px;
        margin-right: 10px;
    }

    .car-title {
        font-weight: 500;
        font-size: 16px;
        margin-top: 5px;
    }

    .small-box {
        border-radius: 0.5px;
        width: 4px;
        height: 4px;
        background: black;
    }

    .image-box {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-left: 8px;
        border-radius: 5px;
    }

    .car-price {
        font-size: 14px;
        font-weight: 700;
        color: #FF7F51;
        height: 15px;
    }

    .car-info {
        font-weight: 500;
        font-size: 12px;
        color: #3D3D3D;
        height: 6px;
    }

    .car-small-info {
        font-weight: 400;
        font-size: 10px;
        height: 5px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="col-md-4 col-12 mb-3">
    <div class="w-100 max-width-407 car-item-cart">
        <div class="row">
            <div class="col-10 text-start d-flex" >
                <div style="background: @CarColor;" class="car-color-box">
                </div>
                <span class="car-title ">@CarItem.Title</span>
                <div class="small-box m-3" ></div>
                <span class="car-title">@CarItem.YearOfIssue</span>
            </div>

            <div class="col-2">
                @if (CarItem.Liked)
                {
                    <span class="material-icons" style="color: #FF7F51; margin-top: 5px;">favorite</span>

                }
                else
                {
                    <img src="icons/favorite.svg" style="margin-top: 5px;" />

                }
            </div>
        </div>

        <div class="row" style="cursor: pointer;" >
            <div class="col-4">
                <div class="image-box ml-5">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" style="border-radius: 5px;">
                            @for (int i = 0; i < CarItem.Images.Count; i++)
                            {
                                <div class="carousel-item active">
                                    <img class="img-fluid d-block" src="@CarItem.Images[i]" alt="First slide" style="height: 118px !important;">
                                </div>
                            }
                        </div>
                        @* <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a> *@
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="text-start">
                    <p class="car-price">@CarItem.Price.ToString("#,0.00") $</p>
                    <p class="car-info">@CarItem.SubTitle</p>
                    <p class="car-info">@CarItem.Volume / Gasoline</p>
                    <div class="row" style="margin-right: 2px !important;">
                        <div class="col-7">
                            <p class="car-info">@CarItem.Mileage km</p>
                            <p class="car-info">@CarItem.Location</p>

                        </div>
                        <div class="col-5 text-end p-0" >
                            <p class="car-small-info">
                                <span class="material-symbols-outlined" style="font-size: 15px;">
                                    visibility
                                </span> 
                                115
                            </p>
                            <p class="car-small-info">35 min ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Car CarItem { get; set; }

    private string CarColor => CarItem.Color;

    
}
